
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white;">Index of Admin</h2>
@if (Session["userName"] != null)
{
    <h2 style="color:white;">Hello @Session["userName"]</h2>
}

