
@{
    Layout = null;
}

<header>
    <div class="container background">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/Content/Image/logo_text.png" class="img-responsive img-header" />
            </div>
        </div>
    </div>
</header>
